@font-face {
  font-family: "Lato";
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap") format("truetype");
}

$default-black-dark: #202020;
$default-black: #2e2e2e;
$default-black-light: #686868;
$default-blue: #006cbe;
$default-light-green: #40c463;
$default-dark-green: #30a14e;
$default-gray: #999797;
$default-light: #edf5fc;
$white: #ffffff;

$default-white-dark: #e0e0e0;
$default-white: #eeeeee;
$default-white-light: #f5f5f5;

:root {
  --color-top-bar-background: #202020;
  --color-editor-background: #2e2e2e;
  --color-icon-color: #999797;
  --color-icon-hover: #ffffff;
  --color-text: #ffffff;
  --color-tooltip-text: #ffffff;
  --color-tooltip-background: black;
}

.light {
  --color-top-bar-background: #cccccc;
  --color-editor-background: #eeeeee;
  --color-icon-color: #5e5e5e;
  --color-icon-hover: #686868;
  --color-text: #202020;
  --color-tooltip-text: black;
  --color-tooltip-background: #cacaca;
}

* {
  margin: 0;
  box-sizing: border-box;
}

// scrollbar styles
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-editor-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-icon-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-top-bar-background);
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.bar {
  font-family: "Lato";
  color: var(--color-text);
  display: flex;
  align-items: center;
  padding: 0 15px;

  span {
    margin-right: 5px;
  }
}

.top-bar {
  font-size: 16px;
  font-weight: bold;
  height: 35px;
  background-color: var(--color-top-bar-background);

  .left {
    display: flex;
    align-items: center;
    width: 50%;

    img {
      border-radius: 100%;
      margin-right: 10px;
    }

    .icon {
      margin-left: 20px;
      color: var(--color-icon-color);
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: var(--color-icon-hover);
      }
    }

    .clear {
      right: 0;
      .fa {
        font-size: 20px !important;
      }
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    width: 50%;

    .icon {
      margin-left: 20px;
      color: var(--color-icon-color);
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: var(--color-icon-hover);
      }
    }
  }

  .tooltip {
    position: relative;
    display: inline-block;
    font-size: 15px !important;

    .tooltiptext {
      visibility: hidden;
      width: 50px;
      background-color: var(--color-tooltip-background);
      font-size: 12px;
      font-weight: normal;
      color: var(--color-tooltip-text);
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      margin-top: 12px;
      margin-left: -25px;
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 1;
    }

    &:hover {
      .tooltiptext {
        visibility: visible;
      }
    }
  }
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: $white;
  height: 20px;
  background-color: $default-blue;

  .tags {
    display: flex;

    .stats {
      margin-left: 20px;
    }
  }
}

.main-content {
  flex: 1;
  display: flex;

  .lines {
    min-width: 30px;
    overflow-y: hidden;
    background-color: var(--color-editor-background);
    border: none;
    border-right: 0.5px solid var(--color-top-bar-background);
    border-radius: 0;
    padding-top: 10px;
    color: var(--color-icon-color);
    text-align: right;
    vertical-align: top;
    z-index: 0;
    resize: horizontal;

    &:focus {
      outline: none;
    }
  }

  .section {
    float: left;
    min-height: 100%;

    &:focus {
      outline: none;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
  }

  .editor {
    padding: 10px 5px;
    font-family: "Consolas";
    color: var(--color-text);
    resize: horizontal;
    background-color: var(--color-editor-background);
  }

  .viewer {
    background-color: white;
  }

  &:after {
    display: table;
    clear: both;
  }
}
