@font-face {
  font-family: "Lato";
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap") format("truetype");
}

:root {
  --color-top-bar-background: #202020;
  --color-editor-background: #2e2e2e;
  --color-icon-color: #999797;
  --color-icon-hover: #ffffff;
  --color-icon-hover-background: #3f3f3f;
  --color-text: #ffffff;
  --color-tooltip-text: #ffffff;
  --color-tooltip-background: black;
}

.light {
  --color-top-bar-background: #cccccc;
  --color-editor-background: #eeeeee;
  --color-icon-color: #707070;
  --color-icon-hover: #4b4b4b;
  --color-icon-hover-background: #dddddd;
  --color-text: #202020;
  --color-tooltip-text: black;
  --color-tooltip-background: #cacaca;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-editor-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-icon-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-top-bar-background);
}

html,
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.bar {
  font-family: "Lato";
  color: var(--color-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
}

.bar span {
  margin-right: 5px;
}

.top-bar {
  font-size: 16px;
  font-weight: bold;
  height: 35px;
  background-color: var(--color-top-bar-background);
}

.top-bar .icon {
  margin-left: 10px;
  padding: 4px 10px;
  color: var(--color-icon-color);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.top-bar .icon:hover {
  color: var(--color-icon-hover);
  background-color: var(--color-icon-hover-background);
}

.top-bar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}

.top-bar .left img {
  border-radius: 100%;
  margin-right: 10px;
}

.top-bar .left .clear {
  margin-left: auto;
}

.top-bar .left .clear .fa {
  font-size: 20px !important;
}

.top-bar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 50%;
}

.top-bar .tooltip {
  position: relative;
  display: inline-block;
  font-size: 15px !important;
}

.top-bar .tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: var(--color-tooltip-background);
  font-size: 12px;
  font-weight: normal;
  color: var(--color-tooltip-text);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: 12px;
  margin-left: -25px;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
}

.top-bar .tooltip:hover .tooltiptext {
  visibility: visible;
}

.bottom-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
  color: #ffffff;
  height: 20px;
  background-color: #006cbe;
}

.bottom-bar .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-bar .tags .stats {
  margin-left: 20px;
}

.main-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .lines {
  min-width: 40px;
  overflow-y: hidden;
  background-color: var(--color-editor-background);
  border: none;
  border-right: 0.5px solid var(--color-top-bar-background);
  border-radius: 0;
  padding-top: 10px;
  color: var(--color-icon-color);
  text-align: right;
  vertical-align: top;
  z-index: 0;
  resize: horizontal;
}

.main-content .lines:focus {
  outline: none;
}

.main-content .section {
  float: left;
  min-height: 100%;
}

.main-content .section:focus {
  outline: none;
}

.main-content .content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

.main-content .editor {
  padding: 10px 5px;
  font-family: "Consolas";
  color: var(--color-text);
  resize: horizontal;
  background-color: var(--color-editor-background);
}

.main-content .viewer {
  background-color: white;
}

.main-content:after {
  display: table;
  clear: both;
}
/*# sourceMappingURL=styles.css.map */
